* {
    text-align: center;
    font-family: 'Amiri', 'Mada', 'Tajawal';
}

body {
    background-image: linear-gradient(to bottom, #9227bd, rgb(212, 108, 190), rgb(250, 110, 54));
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

p {
    font-size: 50px;
    margin-bottom: -20px;
    margin-top: -10px;
    text-shadow: 0px 0px 8px rgb(163, 81, 48);
}

h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.profile {
    margin-top: 15px;
    width: 15%;
    border-radius: 300px;
    box-shadow: none;
}

img {
    box-sizing: border-box;
    width: 5%;
    display: inline-block;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 30px rgb(83, 41, 24);
}

div :hover {
    transition: all .2s ease-in-out;
    transform: scale(1.5);
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    p {
        font-size: 30px;
    }
    h1 {
        font-size: 20px;
        margin: 20px;
        margin-bottom: 50px;
    }
    img {
        box-sizing: border-box;
        width: 15%;
        margin: 20px;
    }
    .profile {
        margin-top: 100px;
        width: 30%;
    }
}


/* @media only screen and (max-width: 600px) {
    h1 {
        font-size: 25px;
        margin: 5px;
    }
    img {
        box-sizing: border-box;
        width: 10%;
    }
    .profile {
        margin-top: 100px;
        width: 30%;
        border-radius: 300px;
    }
} */